/* color */
/* menus */
.hero.is-bold {
  background-image: -webkit-linear-gradient(270deg, rgba(130, 151, 159, 0.1) 0%, rgba(130, 151, 159, 0.2) 40%, rgba(130, 151, 159, 0.3) 100%);
  background-image: linear-gradient(180deg, rgba(130, 151, 159, 0.1) 0%, rgba(130, 151, 159, 0.2) 40%, rgba(130, 151, 159, 0.3) 100%);
  color: #0fb8ad;
}
.hero-content.head_block {
  padding: 10px;
}
#title h1.title {
  font-size: 220%;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
#title h1.title span {
  font-size: 50%;
  color: #82979f;
  text-shadow: none;
}
#title:hover {
  cursor: pointer;
}
#menu1:hover,
#menu2:hover,
#menu3:hover,
#menu4:hover,
#menu5:hover {
  cursor: pointer;
}
.column.smenu {
  padding: 0 10px 0 0;
  margin-top: 10px;
}
.column.smenu:last-child {
  margin-bottom: 10px;
}
.column.smenu p {
  width: 33px;
  overflow: hidden;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #0fb8ad;
  border-radius: 18px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.column.smenu p.circle {
  position: relative;
  z-index: 9;
  height: 33px;
  padding: 2px 0 0 3px;
}
.column.smenu p.circle.big {
  font-size: 200%;
}
.column.smenu p.long {
  position: absolute;
  z-index: 99;
  height: auto;
  line-height: 1.1em;
  padding: 5px 0;
  background-color: #ffffff;
}
.is-colorbar .border1 {
  border: 4px solid #0fb8ad;
}
/* general */
.container.content {
  margin: 15px;
}
/* login logout regist */
form#login .input_label {
  text-align: right;
  padding: 18px 0 0 0;
}
form#login .panel-block {
  color: rgba(130, 151, 159, 0.8);
}
form#login .panel-block .panel-checkbox {
  border: none;
  padding: 0 20px 0 30px;
}
form#login .panel-block .panel-checkbox:hover {
  border: none;
}
form#login .panel-block .panel-checkbox input {
  top: 0px;
}
form#login .panel-block .remind {
  padding-top: 10px;
}
/* HEADER */
header.header .header-item img {
  max-height: 84px;
}
span#header-toggle {
  right: 10px;
  top: 10px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
}
span#header-toggle i {
  margin: 10px 0 0 1px;
  color: rgba(255, 255, 255, 0.5);
}
p.title {
  font-size: 2.6rem;
  line-height: 1.5;
}
.subtitle {
  font-size: 1rem;
}
.hero-content {
  padding: 15px;
}
.hero-footer {
  text-align: center;
}
nav.tabs .container {
  margin: 0 15px;
}
nav.tabs .container ul {
  text-align: center;
}
nav.tabs .container ul li {
  width: 120px;
}
